@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
    }  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
    }  
	
body {    
    animation: fade-in;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/  
    }  
div.box {
	margin-left: 4px;
	margin-right:4px;
	display: inline-block;
}
div.row {
	margin-left:auto;
	margin-right:auto;
	display:block;
	width: -moz-fit-content; 
	width:-webkit-fit-content; 
	width: fit-content; 
}

img.icon {
	height: 64px;
	width: 64px;
}

p.name {
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
}

div#bookmarks {
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
	display: table;
   width: -moz-fit-content;
   width:-webkit-fit-content; 
   width: fit-content; 
}